@media screen and (max-width:1440px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 62.5%;
    background-color: #0f0f10;
    width: 100%;
}
body{
    height: 200vh;
}
nav{
    background-color: #0f0f10;
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 25rem;
    align-items: center;
    box-shadow: 0 0 5px #BC8F8F;
    position: sticky;
    top: 0px;
}
li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #F0F8FF;
}
.portfolio{
    display: flex;
}
.portfolio h1{
    font-size: 5rem;
}
nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.port{
    color: #F0F8FF;
}
.folio{
    color: #9ACD32;
}
.bar{
    display: none;
}
    
    main{
        /* border: 1px solid red; */
        /* background-color:rgb(235, 242, 242); */
        background-color: #1f1f21;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 8rem;
        height: 60vh;
        width: 82%;
        margin-left: 9%;
        border-radius: 0.5rem;
    }
    main h1{
        font-size: 3rem;
        color: green;
    }
    main .myimg img{
        background-color: #fff;
        height: 15rem;
        width: 15rem;
        border-radius: 80px;
        margin: 0 1rem;
    }
    main .logo a img{
        margin: 0 3rem;
    }
    .upper-main{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .upper-main a{
       color: rgb(126 34 206);;
    }
}




@media screen and ( max-width: 725px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    html{
        /* border: 1px solid red; */
        font-size: 50%;
        background-color: #0f0f10;
        width: 100%;
    }
    nav{
        height: 9rem;
        width: 100%;
    }
    li{
        list-style: none;
    }
    li a{
        text-decoration: none;
        font-size: 2rem;
        color: #F0F8FF;
    }
    .portfolio{
        position: absolute;
        right: 2rem;
        display: flex;
        font-size: 4rem;
    }
    .portfolio h1{
        font-size: 5rem;
    }
    nav ul{
        display: none;
    }
    .port{
        color: #F0F8FF;
    }
    .folio{
        color: #9ACD32;
    }
    .bar{
        display: block;
        position: absolute;
        left: 4rem;
    }

    main{
        /* border: 1px solid red; */
        background-color: #1f1f21;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 8rem;
        height: 45vh;
        width: 92%;
        margin-left: 4%;
        border-radius: 0.5rem;
    }
    main .upper-main h1{
        font-size: 3rem;
    }
    main .myimg img{
        background-color: #fff;
        height: 20rem;
        width: 14rem;
        border-radius: 80px;
        margin: 0 1rem;
    }
    main .logo a img{
        margin: 0 3rem;
    }
    .upper-main{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}