@media screen and (max-width:1440px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    html{
        font-size: 62.5%;
        background-color: #0f0f10;
        width: 100%;
    }
    body{
        height: 300vh;
    }
    nav{
        background-color: #0f0f10;
        height: 14vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        column-gap: 25rem;
        align-items: center;
        box-shadow: 0 0 5px #BC8F8F;
        position: sticky;
        top: 0px;
    }
    li{
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 2rem;
        color: #F0F8FF;
    }
    .portfolio{
        display: flex;
    }
    .portfolio h1{
        font-size: 5rem;
    }
    nav ul{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .port{
        color: #F0F8FF;
    }
    .folio{
        color: #9ACD32;
    }
    .bar{
        display: none;
    }
    nav ul li a:hover{
        color: green;
        cursor: pointer;
    }
    
    /* Main */
    main{
        display: flex;
        height: 74vh;
        width: 92%;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red; */
        margin: 3rem 0 0 6rem;
        /* background-color: royalblue; */
    }
    main .upper{
        display: flex;
    }
    main .lower{
        display: flex;
    }
    .red{
        color: #FF0000;
        font-size: 2.8rem;
    }
    .grey{
        color: #808080;
        font-size: 2.8rem;
    }
    .white{
        color: #F5F5F5;
        font-size: 4.5rem;
    }
    .right-side-main{
        margin-right: 15rem;
        box-shadow: 0 0 1rem black;
        border-radius: 1.5rem;
    }
    .right-side-main img{
        height: 38rem;
        width: 30rem;
        border-radius: 1.5rem;
    }
    .para{
        color: wheat;
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-top: 1rem;
    }


    /* Section */
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5rem;
    }
    .socialImg img{
        height: 5rem;
        width: 5rem;
    }
     

    /* Button */
    .hire-me{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 16rem;
        margin-left: 44%;
        margin-top: 3rem;
    }
    .hire-me button{
        background-color: rgba(35, 57, 123, 0.787);
        color: white;
        font-size: 2.5rem;
        padding: 1.4rem 3rem;
        border-radius: 0.5rem;
        border: none;
    }
    .hire-me button:hover{
        background-color: #fff;
        color: rgba(35, 57, 123, 0.787);
        font-size: 2.5rem;
        font-weight: 600;
        cursor: pointer;
    }


    /* Card */
    .sonu p{
        font-size: 50px;
        color: white;
        text-align: center;
        margin-top: 15rem;
    }
    .card{
        display: flex;
        column-gap: 5rem;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .card .box{
    height: 78vh;
    width: 25vw;
    /* border: 1px solid red; */
    background-color: #1f1f21;
    border-radius: 8px;
    box-shadow: 0 0 1rem black;
    }
    .card .box img{
        /* height: 30vh;
        width: 24.8vw; */
        height: 29vh;
        width: 24vw;
        margin: 1vh 0 0 0.5vw;
        border-radius: 5px;
    }
    .card .box h1{
        color: greenyellow;
        font-size: 3rem;
        text-align: center;
        margin-top: 3rem;
    }
    .card .box p{
        color: grey;
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-left: 1rem;
        text-align: center;
    }


    /* card2 */
    .qualification p{
        font-size: 5rem;
        color: white;
        text-align: center;
        margin-top: 15rem;
    }
    .card2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 5rem;
        margin-top: 5rem;
    }
    .card2 .box2{
        height: 65vh;
        width: 82vw;
        /* border: 1px solid red; */
        background-color: #1f1f21;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 1.8rem;
        box-shadow: 0 0 1rem black;
    }
    .card2 .box2 img{
        height: 5rem;
        width: 5rem;
        margin: 2.5rem 0 0 1rem;
        border-radius: 8px;
        margin-left: 3rem;
    }
    .degree{
        color: greenyellow;
        font-size: 3rem;
        margin-left: 3rem;
    }
    .college{
        color: wheat;
        font-size: 2.5rem;
        margin-left: 3rem;
    }
    .batch{
        color: white;
        font-size: 2.2rem;
        margin-left: 3rem;
    }
    .university{
        color: white;
        font-size: 2.2rem;
        margin-left: 3rem;
    }
    .grade{
        color: white;
        font-size: 2.2rem;
        margin-left: 3rem;
    }
    .card2 .box2 .button{
        height: 8rem;
        width: 30rem;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    .card2 .box2 .button button a{
       text-decoration: none;
       color: white;
    }
    .card2 .box2 .button button{
       padding: 2rem 3rem;
       font-size: 2rem;
       color: white;
       /* background-color: green; */
       /* background-color: #20bc7e; */
       background-color: rgb(13, 116, 13);
       border-radius: 6px;
       border: none;
       font-weight: 700;
    }
    .card2 .box2 .button button:hover{
       color: black;
       background-color: #fff;   
       border: 1px solid green;
       cursor: pointer;
    }



    /* Projects */
    .project p{
        font-size: 5rem;
        color: white;
        margin-top: 15rem;
        text-align: center;
    }
    #project{
        display: flex;
        column-gap: 5rem;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #project .box{
        height: 75vh;
        width: 26vw;
        /* border: 1px solid red; */
        box-shadow: 0 0 1rem black;
        background-color: #1f1f21;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
    }
    #project .box .title{
        font-size: 2.2rem;
        color: white;
        color: rgb(2, 148, 2);
        margin-top: 2rem;
    }
    #project .box .description{
        font-size: 1.5rem;
        color: grey;
        text-align: center;
    }
    #project .box .button button{
        padding: 1rem 10rem;
        background-color: rgb(2, 148, 2);
        color: white;
        border: none;
        border-radius: 8px;
    }
    #project .box .button button:hover{
        background-color: white;
        color:rgb(2, 148, 2);
        border: none;
        cursor: pointer;
        border: 1px solid rgb(2, 148, 2);
    }
    #project .box img{
        width: 96%;
        border-radius: 8px;
    }
    .proj-butt{
        height: 5rem;
        width: 16rem;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 44%;
        margin-top: 5rem;
    }
    .proj-butt button{
        padding: 1rem 1.5rem;
        font-size: 2rem;
        border-radius: 5px;
        background-color: rgba(35, 57, 123, 0.787);
        border: none;
        color: white;
        font-weight:550;
    }
    .proj-butt button:hover{
        background-color: #fff;
        color: rgba(35, 57, 123, 0.787);
        cursor: pointer;
    }
    form h1{
        color: rgb(13, 116, 13);
        font-size: 2.5rem;
        text-align: center;
    }
    form{
        background-color: #1f1f21;
        /* border: 1px solid red; */
        height: 70vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        margin-left: 32%;
        margin-top: 15rem;
        justify-content: space-around;
        box-shadow: 0 0 1rem black;
        border-radius: 10px;
    }
    form .box{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    input, textarea{
        width: 45%;
        height: 5vh;
        border-radius: 10px;
        margin-left: 2rem;
        border: none;
        background-color: wheat;
    }
    textarea{
        border: transparent;
        /* resize: none; */
    }
    label{
        font-size: 2.2rem;
        font-weight: 600;
        color: rgb(13, 116, 13);
        margin-left: 2rem;
    }
    form .button{
        /* border: 1px solid red; */
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form .button button{
       padding: 1rem 18rem;
       font-size: 2rem;
       color: white;
       background-color: rgb(13, 116, 13);
       border-radius: 14px;
       border: none;
       font-weight: 700;
    }
    form .button button:hover{
        background-color: wheat;
        color: rgb(13, 116, 13);
        border: 1px solid rgb(13, 116, 13);
        cursor: pointer;
    }


    /* footer */
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.8rem;
        color: rgb(13, 116, 13);
        margin-top: 15vh;
        margin-bottom: 2vh;
        line-height: 25px;
        background-color: #1f1f21;
        box-shadow: 0 0 2px rosybrown;
    }
}

@media screen and (max-width:725px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    html{
        /* border: 1px solid red; */
        font-size: 50%;
        background-color: #0f0f10;
        width: 100%;
    }
    nav{
        height: 9rem;
        width: 100%;
    }
    li{
        list-style: none;
    }
    li a{
        text-decoration: none;
        font-size: 2rem;
        color: #F0F8FF;
    }
    .portfolio{
        position: absolute;
        right: 2rem;
        display: flex;
        font-size: 4rem;
    }
    .portfolio h1{
        font-size: 5rem;
    }
    nav ul{
        display: none;
    }
    .port{
        color: #F0F8FF;
    }
    .folio{
        color: #9ACD32;
    }
    .bar{
        display: block;
        position: absolute;
        left: 4rem;
    }
    
    /* Main */
    main{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72rem;
    width: 100%;
    margin: 3rem 0 0 0;
    }

    main .upper{
        display: flex;
    }
    main .lower{
        display: flex;
    }
    .red{
        color: #FF0000;
        font-size: 2.5rem;
    }
    .grey{
        color: #808080;
        font-size: 2.5rem;
    }
    .white{
        color: #F5F5F5;
        font-size: 3rem;
    }
    .right-side-main img{
        height: 38rem;
        width: 30rem;
        border-radius: 2rem;
    }
    .right-side-main{
        margin-left: 30%;
    }
    section{
        display: flex;
        column-gap: 3rem;
        margin-right: 2.8rem;
        margin-top: 2rem;
    }
    .hire-me{
        margin-left: 32%;
    }
    .card{
        flex-direction: column;
        row-gap: 5rem;
    }
    .card .box{
        width: 84%;
        height: 57rem;
    }
    .card .box img{
        width: 96%;
        margin-left: 2%;
    }
    .card2 .box2{
        height: 53rem;
    }
    #project{
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }
    #project .box{
        display: flex;
        flex-direction: column;
        width: 84%;
        height: 54rem;
        row-gap: 5rem;
    }
    .proj-butt {
        height: 5rem;
        width: 16rem;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35%;
        margin-top: 5rem;
    }    
    form{
        width: 84%;
        margin-left: 8%;
        height: 62rem;
    }
    form h1{
        text-align: center;
        margin: 0 1%;
    }
    input, textarea{
        width: 75%;
    }
    form .button button{
        padding: 1rem 15rem;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        color: #F5F5F5;
        margin-top: 5rem;
    }
}
